nav {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}
    nav a {
        font-size:1.4rem;
        text-decoration:none;
        color:black;
    }
.title-container {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    margin:0 -10vh;
    padding-bottom: 50px;
    }
    .main-image{
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .opener {
        font-size: 4rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    button {
        font-size: 2rem;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 